@use '@angular/material' as mat;
@tailwind utilities;
@tailwind base;
@tailwind components;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: 'Open Sans Variable',
      density: 0,
    )
  );
}
mat-spinner circle {
  stroke: currentColor !important;
}
body {
  font-family: 'Open Sans Variable', sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
:root {
  --mat-form-field-filled-container-color: #f8fafc;
}
