@use '@angular/material' as mat;
@tailwind utilities;
@tailwind base;
@tailwind components;

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: 'Open Sans Variable',
      density: 0,
    )
  );
}
mat-spinner circle {
  stroke: currentColor !important;
}
body {
  font-family: 'Open Sans Variable', sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
:root {
  --mat-form-field-filled-container-color: #f8fafc;
}

.btn-main {
  background-color: #04c704;
  padding: 7px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}
.btn-main:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}
.btn-main:disabled:hover {
  background-color: #ccc;
}
.btn-main:hover {
  background-color: #04c704;
}
