@use '@angular/material' as mat;
@tailwind utilities;
@tailwind base;
@tailwind components;

.container {
  @apply mx-auto;
}

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: 'Open Sans Variable',
      density: 0,
    )
  );
}
mat-spinner circle {
  stroke: currentColor !important;
}
body {
  font-family: 'Open Sans Variable', sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}
:root {
  --mat-form-field-filled-container-color: #f8fafc;
}
.owl-theme .owl-nav {
  padding-top: 40px;
}
.owl-theme .owl-nav [class*='owl-'] {
  margin: 0 20px;
}
.title-style {
  @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-semibold text-green-600 text-center mb-8 sm:mb-10;
}
.section-style {
  @apply bg-gray-100 py-12 sm:py-14 md:py-16 lg:py-20 border-t border-b border-gray-300 flex justify-center;
}
